#report(50)
#rh(10)
 
#para($str.trim($d.ZreAct))
#para($str.trim($d.ZActNam))
#para($str.trim($d.ZActNodNo))
#para($str.trim($str.trim($d.ZActNodNm)))
#para($str.trim($d.CAgtNo))
#para($str.trim($d.CAgtNm))
#para($str.trim($d.CActNo))
#para($str.trim($d.CActNm))
#para($str.trim($d.CActNodNo))
#para($str.trim($d.CActNodNm))
#para($str.trim($d.PayCod))
#para($str.trim($d.PayNam))
#para($str.trim($d.payCod1))
#para($str.trim($d.payNam1))
#para($d.sup1Id)
#para($d.tlr)											      
										珠海分行       
 			                                                                                                        
                                                              $f.fmt($currentTime,'yyyy-MM-dd HH:mm:ss')
                 
              481216                          零余额账户托收协议管理       
              
              
              
              
                                             功能：$f.conv('zhzero',$d.oprTyp)
		     零余额账户帐号:?                       零余额账户名:?
		     零余额账户开户行网点号:?                零余额账户开户行名:? 
		     托收单位编号:?                          托收单位名:? 
		     托收暂收户账号:?                        托收暂收户名:? 
		     托收暂收户开户行网点号:?                托收暂收户开户行名:?
		     原支付编码:?                            原托收费用名:?
		     新支付编码:?                           新托收费用名:? 
	      
	      
	      
	      
	      
	                                      ?                                         ?                                                                                        
#end   
#end