#report(50)
#rh(4)

                            代收路桥费未打印发票清单
#end
#th(2)
#para($d.txnDte)
#para($d.txnTlr)
#para($d.startDate)
#para($d.endDate)
打印日期：?          报表柜员：?         日期范围：?        到 ?
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
       序号              车牌号                     车类型                 交易日期                     缴费月数                                       卡 号                   交易金额
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.carNo)
#para($ele.carTyp)
#para($ele.carDzs)
#para($ele.payMon)
#para($ele.actNo)
#para($ele.txnAmt)

?                          ?                           ?                      ?                                ?                               ?                                      ?
#end   
#tf(2)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
#para($d.totCnt)
 总笔数：           ?
#end
#end