#report(50)
#rh(4)

                            代收路桥费未打印发票清单
#end
#th(2)
#para($d.txnDte)
#para($d.txnTlr)
#para($d.startDate)
#para($d.endDate)
打印日期：?          报表柜员：?         日期范围：?        到 ?
-----------------------------------------------------------------------------------------------------
车牌号     车类型   交易日期     缴费月数     卡 号                 交易金额
#end
#para($d.txnDte)
#para($d.txnDte)
#para($d.txn)
#para($d.payMon)
#para($d.actNo)
#para($d.txnAmt)

?           ?        ?            ?             ?                               ?
-----------------------------------------------------------------------------------------------------
 总笔数：           ?