#report(50)
#rh(4)
#para($d.txnDte)
#para($d.txnTlr)
#para($d.startDate)
#para($d.endDate)
#para('1')
#para($d.sts)
#para($d.totCnt)
#para($d.totAmt)
#para($d.totCnt)
#para($d.totAmt)
#para($d.sucTotAmt)
#para($d.sucTotCnt)
                            代收路桥费清算报表
打印日期：?          报表柜员：?         日期范围：?        到 ?
------------------------------------------------------------------------------------------
 序号             状态           笔数        合计金额 
 ?                    ?                 ?                ?
------------------------------------------------------------------------------------------
 总笔数：           ?
 总金额：           ?
 划拨总记录数：           ?
 划拨总金额：           ?
#end
#end