#report(50)
#rh(4)

                            代收路桥费发票号码更换清单
#end
#th(2)
#para($d.txnDte)
#para($d.txnTlr)
#para($d.startDate)
#para($d.endDate)
打印日期：?          报表柜员：?         日期范围：?        到 ?
-----------------------------------------------------------------------------------------------------
序号   新发票号码       旧发票号码      车牌号     车类型   操作日期     操作柜员    网点号
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.cusAc)
#para($ele.tlogNo)
#para($ele.carNo)
#para($ele.carTyp)
#para($ele.payDat)
#para($ele.payTlr)
#para($ele.payNod)

?       ?                ?               ?          ?         ?            ?           ?
-----------------------------------------------------------------------------------------------------
#end   
#tf(2)
#para($d.totCnt)
 总笔数：           ?
#end
#end