#report(50)
#rh(4)
#para($d.txnDte)
#para($d.txnTlr)
#para($d.startDate)
#para($d.endDate)
                            代收路桥费清算报表
打印日期：?          报表柜员：?         日期范围：?        到 ?
------------------------------------------------------------------------------------------
 序号             状态           笔数        合计金额 
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.STS)
#para($ele.TOT_CNT)
#para($ele.TOT_AMT)

 ?                    ?                 ?                ?
 #end   
#tf(2)
------------------------------------------------------------------------------------------
#para($d.totCnt)
#para($d.totAmt)
#para($d.sucTotCnt)
#para($d.sucTotAmt)
 总笔数：           ?
 总金额：           ?
 划拨总记录数：           ?
 划拨总金额：           ?
#end
#end