#report(50)
#rh(4)

                            				代收路桥费清算报表
#end
#th(2)
#lpara($d.txnDte)
#lpara($d.tlr)
#lpara($d.startDate)
#lpara($d.endDate)
打印日期：?          报表柜员：?         日期范围：?        到 ?
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
序号        交易日期            网点号          柜员号              账号              车牌号            车类型        交易金额               主机流水               发票号码             状态           核对结果
#end
#set($p.index=0)
#ltd(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.carDzs)
#lpara($ele.payNod)
#lpara($ele.payTlr)
#lpara($ele.actNo)
#lpara($ele.carNo)
#lpara($ele.carTyp)
#lpara($ele.txnAmt)
#lpara($ele.payLog)
#lpara($ele.tlogNo)
#lpara($ele.status)
#lpara($ele.tcusNm)
?        ?          ?             ?               ?             ?              ?            ?           ?         ?             ?                                     ?
#end   
#tf(2)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#para($d.totCnt)
#para($d.totAmt)
#para($d.sucTotCnt)
#para($d.sucTotAmt)
                总笔数：       ?
                总金额：       ?
          划拨总记录数：       ?
            划拨总金额：       ?
 #end
#end