#report(50)
#rh(4)

                                                               代收路桥费未打印发票清单
#end
#th(2)
#lpara($d.txnDte)
#lpara($d.tlr)
#lpara($d.startDate)
#lpara($d.endDate)
                                     打印日期：?          报表柜员：?         日期范围：?        到 ?
-----------------------------------------------------------------------------------------------------------------------------------
序号          车牌号             车类型              交易日期               缴费月数                卡号                  交易金额
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.carNo)
#lpara($ele.carTyp)
#lpara($ele.carDzs)
#lpara($ele.payMon)
#lpara($str.trim($ele.actNo))
#lpara($ele.txnAmt)

?            ?                     ?                ?                          ?             ?                            ?
#end
#tf(2)
-----------------------------------------------------------------------------------------------------------------------------------
#para($d.totCnt)
 总笔数：           ?
#end
#end