#report(50)
#rh(4)

                                                             代收路桥费发票号码更换清单
#end
#th(2)
#lpara($d.txnDte)
#lpara($d.tlr)
#lpara($d.startDate)
#lpara($d.endDate)
                                     打印日期：?          报表柜员：?         日期范围：?        到 ?
---------------------------------------------------------------------------------------------------------------------------------------
序号          新发票号码           旧发票号码           车牌号          车类型            操作日期          操作柜员         网点号
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.invNo)
#lpara($ele.oinvNo)
#lpara($ele.carNo)
#lpara($ele.carTyp)
#lpara($ele.sqn)
#lpara($ele.tlrId)
#lpara($ele.nodNo)

?             ?                    ?                   ?                 ?               ?                  ?             ?
#end
#tf(2)
---------------------------------------------------------------------------------------------------------------------------------------
#para($d.totCnt)
 总笔数：           ?
#end
#end