 #report(50)
#rh(5)
 
 
 
 
 
 #end 
 
 #para($str.trim($d.invNo))
 #para($str.trim($d.printYear))
 #para($str.trim($d.printMon))
 #para($str.trim($d.printDay))
 #para($str.trim($d.tcusNm))
 #para($str.trim($d.carName))
 #para($str.trim($d.carNo))
 #para($str.trim($d.carTyp))
 #para($d.feeStd)
 #para($d.corpus)
 #para($d.carDzs)
 #para($d.lateFee)
 #para($d.txnAmt)
 #para($d.begYear)
 #para($d.begMon)
 #para($d.begDay)
 #para($d.endYear)
 #para($d.endMon)
 #para($d.endDay)
 #para($d.txnAmt)      
 #para($d.txnAmt)
 #para($d.prtNod)
 ?                                                           ?         ?       ? 

                            ?



                           ?              ?              ?     ?             本  金：?

                           ?                                                 滞纳金：?

                                                                             合  计：?

                             备  注：

                                   ?        ?      ?               ?        ?      ?

                                                                       ?                ?

                      珠海市路桥管理处          ?（交行）

#end
