#report(50)
#rh(5)
 
 
													$d.invNo			
                                                               $str.trim($d.printYear)        $str.trim($d.printMon)       $str.trim($d.printDay) 

                            $str.trim($d.tcusNm)



                          $str.trim($d.carName)              $str.trim($d.carNo)              $str.trim($d.carTyp)     $d.feeStd             本  金：$d.corpus

                          $d.carDzs                                                滞纳金：$d.lateFee

                                                                             合  计：$d.txnAmt

                             备  注：

                                   $d.begYear       $d.begMon      $d.begDay              $d.endYear       $d.endMon     $d.endDay

                                                                                    $d.bigTxnAmt               

                      珠海市路桥管理处          $d.prtNod（交行）                                                         $d.invNo



#end
#end