#report(50)
#rh(2)
	     各代理单位自助通发票使用情况汇总表
          打印日期:$f.fmt($currentTime,'yyyyMMdd')               单位:份
#end
#th(3)
┏━━━━━━━━━━━━━━┳━━━━━━━━━━━━┓
┃         企业编码           ┃        使用数量        ┃
┣━━━━━━━━━━━━━━╋━━━━━━━━━━━━┫
#end
#td(1,$d.eles)
#para($str.trim($ele.qyNo)) 
#para($ele.useNum)
┃?                           ┃?                       ┃
┣━━━━━━━━━━━━━━╋━━━━━━━━━━━━┫
#end
#rf(3)
┃           合计             ┃           $d.suseNum           ┃   
┗━━━━━━━━━━━━━━┻━━━━━━━━━━━━┛
                                    打印柜员:$d.tlr
#end
#end