#report(50)
#rh(2)
 			            $d.prtTtl
#end
#th(4)
#para($f.fmt($d.prtDte, 'yyyy年MM月dd日'))
                日期:?          		共$totalPages 页            第 $pageNumber 页
┏━━┳━━━━━━━━━━┳━━━━━━━━━┳━━━━━┳━━━━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━┳━━━━┳━━━━━━━━━━┳━━━━━━━━━┳━━━━┳━━━━━━━┓
┃序号┃      流水号        ┃       批次号     ┃ 单位名   ┃       客户账号       ┃  客户姓名    ┃  第三方用户编号┃  第三方客户姓名  ┃交易金额┃交易日期┃         备注1      ┃       备注2      ┃交易状态┃      描述    ┃
┣━━╋━━━━━━━━━━╋━━━━━━━━━╋━━━━━╋━━━━━━━━━━━╋━━━━━━━╋━━━━━━━━╋━━━━━━━━━╋━━━━╋━━━━╋━━━━━━━━━━╋━━━━━━━━━╋━━━━╋━━━━━━━┫
#end 
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.SQN)
#para($ele.BAT_NO)
#para($f.conv('comNo', $d.comNo))
#para($ele.CUS_AC)
#para($ele.CUS_NME)
#para($ele.AGT_SRV_CUS_ID)
#para($ele.AGT_SRV_CUS_NME)
#para($ele.TXN_AMT)
#para($f.fmt($ele.TXN_DTE, 'yyyy-MM-dd'))
#para($ele.RMK1)
#para($ele.RMK2)
#para($f.conv('type', $ele.STS))
#para($ele.ERR_MSG)
┃?   ┃?            ┃?             ┃ ?        ┃?                     ┃?             ┃?               ┃?                 ┃?       ┃?       ┃?                   ┃?                 ┃?      ┃?             ┃          
#end     
#tf(7)   
┣━━┻━━━━━━━━━━┻━━━━━━━━━┻━━━━━┻━━━━━━━━━━━┻━━━━━━━┻━━━━━━━━┻━━━━━━━━━┻━━━━┻━━━━┻━━━━━━━━━━┻━━━━━━━━━┻━━━━┻━━━━━━━┫
┃合计:   		总笔数:$d.TOTCNT           总金额：￥$d.TOTAMT      																┃
┃                       成功总笔数：$d.SUCTOTCNT           成功总金额:￥$d.SUCTOTAMT  																┃
┃			失败总笔数：$d.FALTOTCNT	                失败总金额:￥$d.FALTOTAMT  																┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃		操作柜员：$d.tlr          打印日期：$f.fmt($d.txnDte, 'yyyy-MM-dd')
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
#end
#end