#report(50)
#rh(2)
 			         $d.prtTtl
#end
#th(4)
#para($f.fmt($d.prtDte, 'yyyy-MM-dd'))
                日期:?          		共$totalPages 页            第 $pageNumber 页
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
#end
#tf(9)
┃合计:   		
┃			总笔数:$d.TOTCNT           总金额：￥$d.TOTAMT      													┃
┃			成功总笔数：$d.SUCCCNT       成功总金额:￥$d.TOTSUCCAMT  												┃
┃			失败总笔数：$d.FAILCNT	                失败总金额:￥$d.TOTFAILAMT  												┃
┃			可疑总笔数：$d.DOUBTCNT		    可疑总金额:￥$d.TOTDOUBTAMT         										┃
┃			其他情况总笔数:$d.OTHERCNT	    其他情况总金额:￥$d.TOTOTHERAMT               								┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃			 打印部门：$d.br           打印柜员：$d.tlr          打印日期：$f.fmt($d.txnDte, 'yyyy-MM-dd')
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
#end
#end