#report(50)
#rh(2)
 			         $d.prtTtl
#end
#th(2)
#para($f.fmt($d.prtDte, 'yyyy-MM-dd'))
                日期:?          		共$totalPages 页            第 $pageNumber 页
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($d.TOTCNT)
#para($d.TOTAMT)
#para($d.SUCCCNT)
#para($d.TOTSUCCAMT)
#para($d.FAILCNT)
#para($d.TOTFAILAMT )
#para($d.DOUBTCNT)
#para($d.TOTDOUBTAMT)
#para($d.OTHERCNT)
#para($d.TOTOTHERAMT)
┃合计:   		
┃			总笔数:?           总金额：￥?      										┃
┃			成功总笔数：?       成功总金额:￥ ? 											┃
┃			失败总笔数：?	                失败总金额:￥? 										┃
┃			可疑总笔数：?		    可疑总金额:￥ ?        									┃
┃			其他情况总笔数:?	     其他情况总金额:￥     ?                                        ┃
#end
#tf(3)
#para($d.br)
#para($d.tlr)
#para($f.fmt($d.txnDte, 'yyyy-MM-dd'))
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃			 打印部门：?           打印柜员：?          打印日期：?
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
#end
#end