#report(50)
#rh(4)
												录入批次清单
#end
#th(2)
#para($d.batNo)
#para($d.comNo)
#para($d.comNme)
#para($d.eupsBusTyp)
#para($d.txnDte)
                   		批次号:  ?           单位编号: ?         单位名称: ?              业务类型: ?            打印日期:?
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
            序号                     来盘卡号/账号                      银行帐号                                     金额                       来盘客户标识                               来盘客户姓名                                  银行客户姓名                      交易结果
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.thdCusNo)
#para($ele.cusAc)
#para($ele.txnAmt)
#para($ele.thdCusNo)
#para($ele.thdCusNme)
#para($ele.cusNme)
#para($ele.sts)
?                     ?                      ?                                                                                     ?                                             ?                               ?                                  ?                      ?
#end     
#tf(2)
#para($d.txnTlr)
#para($d.exeDte)
#para($d.totCnt)
#para($d.totAmt)
#para($d.sucTotCnt)
#para($d.sucTotAmt)
#para($d.falTotCnt)
#para($d.falTotAmt)

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
操作柜员: ?           操作日期:?                          总笔数: ?                                总金额: ￥?                                 成功总笔数：?                       成功总金额:￥?                               失败总笔数:?                                 失败总金额:￥? 
#end
#end