#report(45)
#rh(3)

										录入批次清单
批次号:  $str.trim($d.batNo)             单位编号: $str.trim($d.comNo)             单位名称: $str.trim($d.comNme)              业务类型: $str.trim($d.eupsBusTyp)

 #end
#th(4)
  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  序号  来盘卡号/账号           银行帐号                       金额     来盘客户标识  来盘客户姓名                  银行客户姓名                    
  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 #end
 #set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($ele.thdCusNo)
#para($ele.cusAc)
#para($ele.txnAmt)
#para($ele.thdCusNo)
#para($ele.thdCusNme)
#para($ele.cusNme)
#end

#tf(4)
  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  操作柜员: $str.trim($d.txnTlr)   操作日期: $str.trim($d.exeDte)                           总笔数: $str.trim($d.totCnt)   总金额: ￥$str.trim($d.totAmt)
 #end
  
  