#report(50)
#rh(4)
#lpara($d.printType)
#lpara($d.comNo)
#lpara($d.ssdq)
#lpara($d.eupsBusTyp)
#lpara($d.txnDate)		
#lpara($d.kkrq)														
        （?）       单位编号: ?    所属地区: ?    业务类型: ?       打印日期:?		批扣日期：？
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
序号        银行账号            银行客户姓名                  缴费号          客户姓名                      电费年月    金额         结果说明
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
?           ?                   ?                             ?               ?                             ?           ?            ?
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.cusAc)
#lpara($ele.cusNme)
#lpara($ele.thdCusNo)
#lpara($ele.thdCusNme)
#lpara($ele.electricityYearmonth)
#lpara($ele.txnAmt)
#lpara($ele.rsvFld4)
#end
#tf(2)
#lpara($d.tlr)
#lpara($d.totCnt)
#lpara($d.totAmt)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 		 操作柜员: ?       总笔数: ?        总金额: ￥? 
#end
#end