#report(50)
#rh(4)
#lpara($d.printType)
#lpara($d.comNo)
#lpara($d.eupsBusTyp)
#lpara($d.txnDate)																
        （?）       单位编号: ?     业务类型: ?       打印日期:?
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
序号        批次号                   银行账号           银行客户姓名           缴费号        客户姓名      部分缴费标志     第三方账务流水      电费年月    金额      结果说明
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.rsvFld5)
#lpara($ele.cusAc)
#lpara($ele.cusNme)
#lpara($ele.thdCusNo)
#lpara($ele.thdCusNme)
#lpara($ele.fullDedFlag)
#lpara($ele.accountNo)
#lpara($ele.electricityYearmonth)
#lpara($ele.txnAmt)
#lpara($ele.rsvFld4)
?      ?                        ?                          ?             ?                    ?                 ?          ?                     ?         ?           ?
#end
#tf(2)
#lpara($d.tlr)
#lpara($d.totCnt)
#lpara($d.totAmt)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 		 操作柜员: ?       总笔数: ?        总金额: ￥? 
#end
#end