#report(50)
#rh(4)
#lpara($d.batNo)
#lpara($d.comNo)
#lpara($d.eupsBusTyp)
#lpara($d.txnDte)																
        （批次清单）       批次号:  ?        单位编号: ?     业务类型: ?       打印日期:?
------------------------------------------------------------------------------------------------------------------------------------------------------
序号           合同号                   托手户名                  银行账号         金额        交易结果     结果说明
------------------------------------------------------------------------------------------------------------------------------------------------------
#end
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.agtSrvCusId)
#lpara($ele.cusAc)
#lpara($ele.cusNme)
#lpara($ele.txnAmt)
#lpara($ele.sts)
#lpara($ele.errMsg)
?          ?                               ?                                ?                ?               ?          ?
#end
#tf(2)
#lpara($d.Tlr)
#lpara($d.exeDte)
#lpara($d.totCnt)
#lpara($d.totAmt)
#lpara($d.sucTotCnt)
#lpara($d.sucTotAmt)
#lpara($d.falTotCnt)
#lpara($d.falTotAmt)
------------------------------------------------------------------------------------------------------------------------------------------------------
  操作柜员: ?操作日期:?总笔数: ? 总金额: ￥? 成功总笔数:?成功总金额:￥?  失败总笔数:? 失败总金额:￥? 
#end
#end