#report(50)
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($ele.cusAc)
#para($ele.cusNme)
#para($ele.ccy)
#para($ele.txnAmt)
#para($ele.txnAmt)
#para($ele.thdCusNo)
#para($ele.txnDte)
#para($ele.txnTlr)
#para($ele.sqn)
业务名称:代收付业务                 业务种类:代收水费
付款人账号:?
付款人名称:?

收款人账号:自来水公司账号
收款人名称:汕头自来水公司

交易币种:?                        交易金额:?
交易金额大写:?
摘要:代收水费?

入账日期:?              入账柜员:?               入账流水号:?
打印日期:$d.txnDte              打印柜员:$d.tlr               打印机构:$d.br
#end     
#end
