#report(50)
#rh(4)
 			                                  汕头分行代收水费成功明细表
#end
#th(2)
#para($ele.mfmVchNo)
#para($ele.txnAmt)
#para($ele.txnSts)
  业务类型： 代收水费业务  日期：?年?月 ?日   共 $totalPages 页 第 $pageNumber 页
┏━━━━━━━━━━┳━━━━━━┳━━━━━┳━━━━━━━━━━┳━━━━━━┳━━━━━━┳━━━━━┳━━━━━┓
┃ 交易日期   ┃缴费项目┃ 用户号 ┃      账号      ┃流水号┃  会计流水号  ┃ 金额 ┃ 交易状态  ┃
┗━━━━━━━━━━┻━━━━━━┻━━━━━┻━━━━━━━━━━┻━━━━━━┻━━━━━━┻━━━━┻━━━━━┛
#end 
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($ele.txnDte)
#para("代收水费")
#para($ele.thdCusNo)
#para($ele.cusAc)
#para($ele.sqn)
#para($ele.mfmVchNo)
#para($ele.txnAmt)
#para($ele.txnSts)
┃?                   ┃?           ┃?         ┃?                   ┃?           ┃?           ┃?         ┃ ?         ┃        
#end     
#tf(2)   
┗━━━━━━━━━━┻━━━━━━┻━━━━━┻━━━━━━━━━━┻━━━━━━┻━━━━━━┻━━━━┻━━━━━┛
┃  合计                                                                     笔数：$d.sumCnt                         金额：$d.sumAmt            ┃  
┗━━━━━━━━━━┻━━━━━━┻━━━━━┻━━━━━━━━━━┻━━━━━━┻━━━━━━┻━━━━━┻━━━┛
#end
#end
