#report(50)
#rh(2)
 			                  广州电力成功清单
#end
#th(4)
#para($f.fmt($d.prtDte, 'yyyy-MM-dd'))
                                日期:?          		                      共$totalPages 页            第 $pageNumber 页
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃序号┃     平台流水号     ┃      客户帐号     ┃  用户编号   ┃用户姓名┃ 交易日期 ┃ 交易时间 ┃交易金额 ┃交易类型┃    会计流水号  ┃交易响应码┃ 交易机构  ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
#end 
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#lpara($p.index)
#lpara($ele.SQN)
#lpara($ele.CUS_AC)
#lpara($ele.THD_CUS_NO)
#lpara($ele.CUS_NME)
#lpara($ele.TXN_DTE)
#lpara($ele.TXN_TME)
#lpara($ele.TXN_AMT)
#lpara($f.conv('thdTxnCde', $ele.THD_TXN_CDE))
#para($ele.MFM_VCH_NO)
#para($ele.RSP_CDE)
#lpara($ele.BR)
┃?   ┃?     ┃?               ┃?           ┃?       ┃?        ┃?         ┃ ?       ┃?       ┃?        ┃?         ┃?      ┃     
#end     
#tf(9)   
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃合计:   		总笔数：$d.allCnt         	              总金额：￥$d.allAmt     													
┃                      缴费成功总笔数：$d.sucJfCnt          	      缴费成功总金额：￥$d.sucJfAmt 	
┃                      划扣成功总笔数：$d.sucHkCnt          	      划扣成功总金额：￥$d.sucHkAmt 
┃	            失败总笔数：$d.failCnt	                          失败总金额：￥$d.failAmt											
┃	            可疑总笔数：$d.doubCnt	    	          可疑总金额：￥$d.doubAmt       										
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃	                                     打印部门：$d.br           打印柜员：$d.tlr          打印日期：$f.fmt($d.prtDte, 'yyyy-MM-dd')
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
#end
#end