#report(50)
#rh(4)
 			                            $f.conv('prtFlg', $d.prtFlg)
#end
#th(4)
#para($f.fmt($d.beginDte, 'yyyy年 MM月 dd日'))
#para($f.fmt($d.endDte, 'yyyy年 MM月 dd日'))
          ?      至         ?   	              				共$totalPages 页            第 $pageNumber 页
┏━━━━━┳━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━┓
┃   序号   ┃   交易类型   ┃        单位编号      ┃          单位名称        ┃          账号        ┃         户名       ┃       交易金额     ┃        交易日期      ┃          交易时间        ┃           会计流水号         ┃           会计日期         ┃          流水号        ┃      第三方交易流水号    ┃          交易状态      ┃
┣━━━━━╋━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━┫
#end 
#set($p.index=0)
#td(1,$d.eles)#set($p.index=$p.index+1) 
#para($p.index)
#para($f.conv('txnTyp', $ele.TXN_TYP))
#para($ele.COM_NO)
#para($d.comNme)
#para($ele.CUS_AC)
#para($ele.CUS_NME)
#para($ele.TXN_AMT)
#para($f.fmt($ele.TXN_DTE, 'yyyy-MM-dd'))
#para($f.fmt($ele.TXN_TME, 'yyyy-MM-dd hh:mm:ss'))
#para($ele.MFM_VCH_NO)
#para($f.fmt($ele.AC_DTE, 'yyyy-MM-dd'))
#para($ele.SQN)
#para($ele.THD_SQN)
#para($f.conv('type', $ele.TXN_STS))
┃?         ┃?             ┃?                     ┃ ?                        ┃?                     ┃?                   ┃?                   ┃?                     ┃?                         ┃?                             ┃ ?                          ┃?                       ┃?                         ┃?                       ┃       
#end     
#tf(5) 
#para($d.TOTCNT)
#para($d.TOTAMT)
#para($d.SUCCCNT)
#para($d.TOTSUCCAMT)
#para($d.FAILCNT)
#para($d.TOTFAILAMT)
#para($d.DOUBTCNT)
#para($d.TOTDOUBTAMT)
#para($d.OTHERCNT)
#para($d.TOTOTHERAMT)
#para($d.br)
#para($d.tlr)
#para($f.fmt($d.txnDte, 'yyyy-MM-dd'))
┣━━━━━╋━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━┫
┃合计:   		总笔数:?    总金额：￥?      	成功总笔数：?      成功总金额:￥?   	失败总笔数：?		失败总金额:￥?  	可疑总笔数：?	可疑总金额:￥?          其他情况总笔数:?			   其他情况总金额:￥?             ┃
┣━━━━━╋━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━╋━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━┫
┃	                                                                       打印部门：?           打印柜员：?          打印日期：?
┗━━━━━┻━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━┻━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━┻━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━┛
#end
#end